@use "../../index.scss" as i;
$chat-window-background: #f7f9ff;

.chat-window {
	display: flex;
	flex-direction: column-reverse;
	padding: 40px 40px 48px 40px;
	height: 100%;
	border-radius: 16px;
	border: 1px solid rgba(0, 14, 51, 0.07);
	background: $chat-window-background;
	gap: 40px;
	overflow: hidden;
}

.chat-window:hover {
	padding: 40px 32px 48px 40px;
	border-radius: 16px 1ex 1ex 16px;
	overflow-y: scroll;
}

.chat-window::-webkit-scrollbar {
	width: 8px;
}
.chat-window::-webkit-scrollbar-thumb {
	background: i.$primary-color;
}

.chat-window::-webkit-scrollbar-track {
	background: $chat-window-background;
	height: 8px;
}
