@import "ChatMessage.scss";

.clearable-input-container {
  font-size: 11px;
  color: $text-feedback-color;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.clearable-input {
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  padding: 10px;
  width: 280px;
}

.clearable-input-clear-button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}