@import "../../../App.scss";
$button-background: $theme-color ;
$button-hover-background: $theme-color-dark ;
$button-active-background: $theme-color-darkest;

.button {
	display: flex;
	justify-content: center;
	padding: 16px 24px;
	height: 64px;
	width: 100%;
	align-items: center;
	gap: 8px;
	background: $button-background;
	border: none;
}

.button:hover {
	background: $button-hover-background;
	cursor: pointer;
}

.button:active {
	background: $button-active-background;
}

.button-text {
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 14px; /* 77.778% */
	text-transform: capitalize;
	text-align: center;
	color: $secondary-color;
}
