@import "./index.scss";

$sidebar-width: 420px;

.app {
  background: linear-gradient(
      25deg,
      transparent -6%,
      #828282 5%,
      transparent 35%
    ),
    linear-gradient(108deg, #ffffff 1%, $theme-color 10.03%, #828282 98.86%);
  margin: 0;
}

.content-wrapper {
  max-width: 1920px;
  padding: 0 20px;
  margin: auto;
}
