@use "./index.scss" as *;

.app {
  background-color: #0099D8;
  height: calc(100vh - 95px);
  overflow-y: auto;
}

.content-wrapper {
  max-width: 1920px;
  padding: 0 50px;
  margin: auto;
  height: 100%;
  
  @media (max-width: $medium-width) {
    padding: 0 20px;
  }
}